.navigation-container {
    background-color: grey;
    display: flex;
    text-align: left;
}

.navigation-link {
    height: 20px;
    margin: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5em;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
}

a {
    text-decoration: none !important;
}